RAG_HOST="localhost"
RAG_PORT=8000
RAG_N_RESULT=5
SENTENCE_TRANSFORMER_MODEL="sentence-transformers/all-MiniLM-L6-v2"
MISTRAL_API_KEY=""
MISTRAL_API_MODEL="mistralai/mistral-7b-instruct:free"

PYRO_API_ID=""
PYRO_API_HASH=""
PYRO_HISTORY_LIMIT=10

# PostgreSQL Configuration
POSTGRES_USER="telerag_user"
POSTGRES_PASSWORD="telerag_password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="telerag_db"

AIOGRAM_API_KEY=""
